## Day 1

### Question 2

In [ ]:
print(5 + 6)   
print(5 - 6)   
print(5 * 6)   
print(5 / 6)  
print(5 ** 6)  
print(6 % 5)   
print(6 // 5)

### Question 3

In [ ]:
print('Rahma')
print(type('Aliyu'))    
print(type("Nigeria"))
print('I am enjoying 30 days of python')

### Question 4

In [ ]:
print(type(12))                 
print(type(9.8))                
print(type(3.14))            
print(type(4 - 4j))          
print(type(['Asabeneh','Python', 'Finland']))           
print(type('Rahma')) 
print(type('Aliyu'))    
print(type("Nigeria"))

## Exercise Level 2

### Question 1

In [ ]:
#integer
print(-5)
#float
print(0.337)
#complex
print(3-3j)
#string
print('hello world')
#boolean
print(20.0 is 20)
#list
Items = ['Goat', 'Yam', 'Road', 'Zebra', 'House']
#tuple
tpl = ( )
#sets
st = {}
#dictionary
dict = {}

### Question 2

In [ ]:
print((((3 ** 2 - 2**2)**2) + ((10 ** 2 - 2**2)**2)) ** 1/2)