### Day 7

In [2]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#### Exercises Level 1
Find the length of the set it_companies

##### Question 1

In [3]:
lenght_it_companies = len(it_companies)
print('The lenght of the IT companies is', lenght_it_companies)

The lenght of the IT companies is 7

##### Question 2
Add 'Twitter' to it_companies

In [31]:
it_companies.add('twitter')
print(it_companies)

{'Microsoft', 'Google', 'Oracle', 'Amazon', 'IBM', 'twitter', 'Facebook', 'Apple'}

##### Question 3
Insert multiple IT companies at once to the set it_companies

In [32]:
Another_it_companies = {'facebook', 'Snapchat', 'Yahoo'}
it_companies.update(Another_it_companies)
print(it_companies)

{'Oracle', 'Snapchat', 'twitter', 'Amazon', 'Facebook', 'facebook', 'Google', 'Yahoo', 'Microsoft', 'IBM', 'Apple'}

##### Question 4
Remove one of the companies from the set it_companies

In [33]:
removed_company = it_companies.pop()
print(it_companies)
print('The removed company is : ',removed_company)

{'Snapchat', 'twitter', 'Amazon', 'Facebook', 'facebook', 'Google', 'Yahoo', 'Microsoft', 'IBM', 'Apple'}
The removed company is :  Oracle

##### Question 5
What is the difference between remove and discard

In [ ]:
#The difference between remove and discard is that if you remove an item and you are intrested in it
#while if you discard  it your are not intrested in it

#### Exercises Level 2

##### Question 1
Join A and B

In [35]:
A_joined_With_B = A.union(B)
print('the list after A is joined with B :',  A_joined_With_B)

the list after A is joined with B : {19, 20, 22, 24, 25, 26, 27, 28}

##### Question 2

Find A intersction B

In [36]:
A_Intersect_B = A.intersection(B)
print('A intersect B is ' , A_Intersect_B)

A intersect B is  {19, 20, 22, 24, 25, 26}

##### Question 3
IS A a subset of B

In [37]:
check = A.issubset(B)
print('Checking wether A is asubset of B : ', check)

Checking wether A is asubset of B :  True

##### Question 4
Are A and B disjoint sets

In [38]:
Is_disjoint = A.isdisjoint(B)
print('Checking wether A and B is disjoint sets : ', Is_disjoint)

Checking wether A and B is disjoint sets :  False

##### Question 5
Join A with B and B with A

In [39]:
print(' A joined with B is :', A.union(B))
print(' B joined with A is :', B.union(A))

 A joined with B is : {19, 20, 22, 24, 25, 26, 27, 28}
 B joined with A is : {19, 20, 22, 24, 25, 26, 27, 28}

##### Question 6

What is the symmetric difference between A and B

In [40]:
print('The symmetric difference between A and B is : ', A.symmetric_difference(B))

The symmetric difference between A and B is :  {27, 28}

##### Question 7 (deleting sets A and B)

In [41]:
del A
del B

#### Exercises: Level 3

##### Question 1

Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [42]:
Ages = set(age)
lenght_St_age = len(Ages)
lenght_Ls_age = len(age)
New = [lenght_Ls_age, lenght_St_age]
bigger = max(New)
print(f'The lenght of the list is {lenght_Ls_age} and the lenght of the set is {lenght_St_age}, so the bigger of the two is the one with {bigger} charcters')

The lenght of the list is 8 and the lenght of the set is 5, so the bigger of the two is the one with 8 charcters

##### Question 2
the difference between string, list , tuple and list is :
String is a data type stored in parentheses

list is a container that stores colection of items that have same or different data types.It is ordered and mutable(it's value can be changed)
 
Tuple is container that stores colection of items that have same or different data types.It is ordered and unmutable(it can not be modified)

set is container that stores colection of distinct  or unique items that have same data .It is unordered and mutable(it  can  be modified)

##### Question 3
I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [21]:
Str = 'I am a teacher and I love to inspire and teach people.'
new_str = Str.split()
print (new_str)
len_list = len(new_str)
print('The lenght ofthe list is : ',len_list )
First_list = list(new_str[0])
Second= list(new_str[1])
Third = list(new_str[2])
fourth = list(new_str[3])
fifth = list(new_str[4])
Sixth = list(new_str[5])
Seventh = list(new_str[6])
eigth = list(new_str[7])
Ninth = list(new_str[8])
Tenth = list(new_str[9])
Eleventh = list(new_str[10])
Twelveth = list(new_str[11])

whole_list = First_list + Second + Third + fourth + fifth + Sixth +Seventh +eigth+Ninth+Tenth+Eleventh+Twelveth 
print('The whole caracters are :   ', whole_list)
set_str = set(whole_list)
Unique_charcters = len(set_str)
print(f'the uniiqe chracters in the string are {set_str} and they are {Unique_charcters} in number ')

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
The lenght ofthe list is :  12
The whole caracters are :    ['I', 'a', 'm', 'a', 't', 'e', 'a', 'c', 'h', 'e', 'r', 'a', 'n', 'd', 'I', 'l', 'o', 'v', 'e', 't', 'o', 'i', 'n', 's', 'p', 'i', 'r', 'e', 'a', 'n', 'd', 't', 'e', 'a', 'c', 'h', 'p', 'e', 'o', 'p', 'l', 'e', '.']
the uniiqe chracters in the string are {'m', 'c', 'r', 'd', '.', 't', 'h', 'v', 'I', 'p', 'i', 'l', 'e', 's', 'n', 'a', 'o'} and they are 17 in number

In [28]:
Str = 'I am a teacher and I love to inspire and teach people.'
new = Str.split()
word  = len(new)
print(f'This is the list of the words used {new} and they are {word} in number ')
sett = set(new)
words = len(sett)
print (f'The unique words used in the sentence are : {sett} and they are {words} in Number ' )

This is the list of the words used ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.'] and they are 12 in number
The unique words used in the sentence are : {'teacher', 'inspire', 'to', 'I', 'am', 'people.', 'love', 'and', 'a', 'teach'} and they are 10 in Number